<ion-header [translucent]="false">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar color="primary">
  <ion-title  >
   <h1 class="example">AutoDeal</h1> 
  </ion-title>
  <ion-buttons slot="end">
    <ion-button class="eg">
      Login
    </ion-button>
  </ion-buttons>
</ion-toolbar>

  <ion-card>
    <img  src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg" />
  </ion-card>
  <a class="centered" href="https://www.w3schools.com/howto/howto_css_image_text.asp">Select a car</a>
</ion-content>
